.body {
    display: flex;
    align-items: center;
    background-color: #949494;
    height: 856px;
}



.sing_up_div {
    background-color: #FFFFFF;
    width: 618px;
    height: 832px;
    margin-left: 100px;
}

.sing_up_text_language_div {
    display: flex;
    margin-top: 50px;
}

.sing_up_text_language_img {
    width: 14px;
    height: 9px;
    margin-top: 12px;
}                               

.sing_up_text_language {
    color: rgba(0, 0, 0, 0.4);
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    margin-left: 450px;
    margin-bottom: 25px;
}

.sing_up_text_create {
    color: #7879F1;
    font-family: "Karla", sans-serif;
    font-weight: 750;
    font-style: normal;
    font-size: 30px;
    margin-left: 50px;
    margin-bottom: 200px;
}

.sing_up_with_posts {
    margin-top: 25px;
    display: flex;
}

.google_sing_up {
    margin-left: 50px;
    width: 214px;
    height: 44px;
    border-radius: 9px;
    border: 1px solid #CDCDCD;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.google_sing_up_img {
    width: 30px;
    height: 29px;
    margin-left: 10px;

}

.google_sing_up_text {
    color: #6B6B6B;
    font-family: "Karla", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    margin-left: 20px;
    

}

.yandex_sing_up {
    margin-left: 50px;
    width: 214px;
    height: 44px;
    border-radius: 9px;
    border: 1px solid #CDCDCD;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}

.yandex_sing_up_img {
    width: 30px;
    height: 29px;
    margin-left: 10px;
}

.yandex_sing_up_text {
    color: #6B6B6B;
    font-family: "Karla", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    margin-left: 20px;

}


.ILI_text {
    margin-bottom: -100px;
    margin-left: 250px;
    color: #6B6B6B;
    font-family: "Karla", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
}

.sing_ups {
    margin-left: 50px;
    display:grid;
}

.sing_ups_label {
    margin-left: 15px;
    font-family: "Karla", sans-serif;
    color: #6B6B6B;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
}    

.sing_ups_input {

    flex-grow: 1;
    width: 471px;
    height: 48px;
    border-radius: 9px;
    border: 1px solid #CDCDCD;
    background-color: #FFFFFF;
}

.sing_ups_button {
    margin-top: 30px;
    margin-left: 52px;
    width: 471px;
    height: 68px;
    border-radius: 9px;
    border: none;
    font-family: "Karla", sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    font-style: normal;
    font-size: 22px;
    background-color: #7879F1;
}

.account_has {
    margin-left: 150px;
    margin-top: 20px;
    
}

.account_has_text {
    font-family: "Karla", sans-serif;
    color: #6B6B6B;
    font-weight: normal;
    font-style: normal;
    font-size: 19px;
}

.account_has_text_src {
    font-family: "Karla", sans-serif;
    color: #7879F1;
    font-weight: bold;
    font-style: normal;
    font-size: 19px;
}