
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Main</title>
    
</head>

<body class="body">
    <header class="header">
        <img src="static/Chat_Logo.png" class="logo">
    </header>
    <div class="chat">
        <div class="chat_user">
            <img src="static/user_img.png" class="chat_user_img">
            <label class="chat_user_name">Suporte ADMIN</label>
        </div>
        <div class="messages">
            {% for msg in msgs %}
                
                <div class="message">
                <div><label>{{msg[1][0]}}</label></div>
                <p class="m-name">{{msg[1]}}:</p>
                <div class="m-text">{{msg[2]}}</div>
            </div>
            {% endfor %}
            
        </div>
        <form class="chat_write" action="{{url_for('chat')}}" method="POST">
            <input type="text" class="chat_send_text" name="message">
            <button class="chat_send"><img src="static/chat_send_img.png" class="chat_send_img"></button>
            <button class="file_send"><img src="static/file_send_img.png" class="file_send_img"></button>
        </form>
    </div>

    <script>
        var objDiv = document.querySelector(".messages");
        objDiv.scrollTop = objDiv.scrollHeight;

        setInterval(() => {
            window.history.replaceState(null, null, window.location.href);
            window.location.href = window.location.pathname;
            }, 15000);  
    </script>
</body>
</html>