<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <title>Main</title>
</head>

<body>
    <div class="body">
        <div class="sing_up_div">
            <div class="sing_up_text_language_div">
                <label class="sing_up_text_language"> Russia (Ru) </label>
                <img src="static/language_img.png" class="sing_up_text_language_img">
            </div> 
            <label class="sing_up_text_create">Войти в Аккаунт</label>
            <div class="sing_up_with_posts">
                <button class="google_sing_up"><img src="static/google.png" class="google_sing_up_img"><label class="google_sing_up_text">Sign up with Google</label></button>
                <button class="yandex_sing_up"><img src="static/yandex.png" class="yandex_sing_up_img"><label class="yandex_sing_up_text">Sign up with Yandex</label></button>
            </div>
            <label class="ILI_text">- или -</label>
            <form action="{{url_for('index')}}" method="POST">
            <div class="sing_ups" >
                <label class="sing_ups_label" for="username">Ваше имя</label>
                <input type="text" name="username" class="sing_ups_input" required>
            </div>
            <div class="sing_ups" >
                <label class="sing_ups_label" for="password">Пароль</label>
                <input type="password" name="password" class="sing_ups_input" required>
            </div>
            <button class="sing_ups_button">Войти</button>
            </form>
            <div class="account_has">
                <label class="account_has_text">Ещё нет Аккаунта?</label><label class="account_has_text_src">  Зарегистрироваться</label>
            </div>
        </div>
    </div>
    
</body>
</html>


