<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Main</title>
</head>
<header>
    <div class="header_div">
        <div class="Ico_background">
            <img src="https://cdn3.iconfinder.com/data/icons/valentine-s-day-vol-2-1/52/68-1024.png" class="Ico">
        </div>
        <h1>Сhat.com</h1><h2>  О чате  </h2><h2>  Войти  </h2><h2>  Зарегистрироваться  </h2>
    </div>
</header>
<body>
    
    
</body>
</html>