<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    <title>Main</title>
    
</head>

<body>
    <header>
        <div class="header_div">
            <div class="Ico_background">
                <img src="https://cdn3.iconfinder.com/data/icons/valentine-s-day-vol-2-1/52/68-1024.png" class="Ico">
            </div>
            <h1>Сhat.com</h1><h2 class="menu_about">  О чате  </h2><h2 class="menu_enter">  Войти  </h2><h2 class="menu_reg">  Зарегистрироваться  </h2>
        </div>
    
    </header>
    <div class="body">
        <div class="body_left_reg">
            <h1>Сhat.com</h1>
        </div>
    
        <div class="body_right_about">
            <h1>Сhat.com</h1>
        </div>
    </div>
</body>
</html>